@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-size: 14px;
    line-height: 1.6;
    color: #111;
    -webkit-font-smoothing: antialiased;
  }
}
